body {
  display: flex;
}

#game-container {
  height: 600px;
  width: 800px;
  margin: auto;
  margin-top: 60px;
}

/* #game-canvas {
  background: green;
} */

.tall-grass {
  background: lightseagreen;
}